    /* Background Image*/
body{
    margin: 0 0;
    background-image: url(../Assets/Images/Desert-Sahara.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    /* Top Left Camel Icon*/
#div-icon-camel{
    display: inline-block;
    position: relative;
    margin: 1rem 1rem;
    top: 1.5rem;
    left: 8rem;
    width: 3rem;
    height: 3rem;
}

#img-camel-icon{
    /* This allows to easily size icon */
    width: 100%;
    height: 100%;
}

    /* Top Right Navbar*/
#div-navbar-parent{
    width: 40%;
    height: 2rem;
    position: relative;
    left: 60%;
    top: -3rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center; */
    color: white;
    font-size: 1em;
    font-weight: 700;
}

/* Removing Underlines form Anchor */
#div-navbar-parent a{
    text-decoration: none;
    color: white;
    display: inline;
    float: right;
}

    /* Flexing the Navbar UL */
#div-navbar-parent ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#div-navbar-parent li{
    text-align: center;
    display: inline;
    margin: 0rem 1rem;
}

/*  */

    /* Hamberger Menu Icon */
#menu-icon{ 
    /* Makkin it fit in menu line */
    width: 2rem;
    object-fit: cover;
}

/* Sahara descroption para */
#description-middle-parent{
    position: relative;
    top: 8rem;
    left: 15%;
    width: 40%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;

}
    /* SAHARA Heading */
#description-title{
    color: white;
    font-size: 5em;
    font-weight: 700;
}

    /* Sahara Lorem text */
#description-para{
    color: white;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.8em;
}

    /* Explore Button */
#description-button{
    width: 30%;
    height: auto;
    margin-top: 2rem;
    padding: 0.5rem 0;
    background-color: white;
    border-radius: 16px;
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;

}

/* Hovering Cards Parent div */
#div-cards-parent{
    width: 30%;
    height: auto;
    position: relative;
    left: 57%;
    top: -13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    gap: 2rem 2rem;
}

/* All Hovering Cards Class */
.div-cards{
    width: 100%;
    height: 13rem;
    color: white;
    order: 2;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

/* Hovering Effect
.div-cards:hover{
    transform: translate(o -5px);
} */

    /* 1st Card */
#card1{
    background-image: url(../Assets/Images/Dessert-Small.png);
}
    /* 2nd Card - Top Right Card*/
#card2{
    background-image: url(../Assets/Images/Rocks-Small.png);
}
    /* 3rd Card - Bottom Left Card*/
#card3{
   background-image: url(../Assets/Images/Pyramids-Small.png);

}
    /* 4th Card - Bottom Right Card */
#card4{
    background-image: url(../Assets/Images/Night-Stars-Small.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Small text inside cards */
.cards-text-small{
    width: 60%;
    font-size: 0.6em;
    line-height: 2em;
}

/* Media Queries */

    /* For Regular Laptop/Desktop Screens */
    @media only screen and (max-width:1290px) and (min-width:851px){
        #description-middle-parent{
            position: relative;
            top: 1rem;
            width: 100%;
        }
        #div-cards-parent{
            display: grid;
            grid-template-columns: repeat(1,auto);
            top: 1rem;
            left: 35%;
        }
        .div-cards{
            margin: 1rem;
            width: 37rem;
            height: 20rem;
        }
        #card4::before{
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }
        .cards-text-small{
            width: 100%;
            line-height: 0.5em;
        }
        #div-cards-parent h5{
            font-size: 1.6em;
        }
    }

    /* For wide tablet screens
    @media only screen and (max-width:850px) and (min-width:600px){
        #div-cards-parent{
            display: grid;
            grid-template-columns: repeat(1,auto);
            top: 1rem;
            left: 36%;
        }
        .div-cards{
            margin: 1rem;
            width: 50rem;
            height: 20rem;
        }
        #div-navbar-parent ul{
            display: block;
        }
        .box::before{
            background-repeat:no-repeat;
        }
    
    } */